

<div class="home-container">
  <div class="upper-wrapper">
    <div class="personal-account my-card">
      <h2>Osobný účet</h2>
    </div>
    <div class="review my-card">
      <h2>Prehlad</h2>
    </div>
    <div class="better-future my-card" [routerLink]="'better-future'">
      <div class="better-future-border"></div>
      <h2>Lepšia budúcnosť</h2>
      <div class="bcc-image">
      </div>
    </div>
  </div>
  <div class="bottom-wrapper">
    <div class="savings my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header">
            <div class="plan-title">DEMO Sporenie na rezervu</div>
            <div class="plan-amount">€ 480.32</div>
          </div>
          <div class="progress-bar">
            <div class="progress" style="width: 32%;"></div>
          </div>
          <div class="progress-info">
            <span class="progress-percentage">32%</span>
            <span class="target-amount">Cieľová suma: € 1.500,00</span>
          </div>
          <button class="save-button">Usporiť peniaze</button>
        </div>
      </div>
    </div>
    <div class="hypo my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header">
            <div class="plan-title">DEMO Sporenie na rezervu</div>
            <div class="plan-amount">€ 944.76</div>
          </div>
          <div class="progress-bar">
            <div class="progress" style="width: 70%;"></div>
          </div>
          <div class="progress-info">
            <span class="progress-percentage">70%</span>
            <span class="target-amount">Cieľová suma: € 1.350,00</span>
          </div>
          <button class="save-button">Usporiť peniaze</button>
        </div>
      </div>
    </div>
    <div class="stocks my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header">
            <div class="plan-title">DEMO Sporenie na rezervu</div>
            <div class="plan-amount">€ 480.32</div>
          </div>
          <div class="progress-bar">
            <div class="progress" style="width: 32%;"></div>
          </div>
          <div class="progress-info">
            <span class="progress-percentage">32%</span>
            <span class="target-amount">Cieľová suma: € 1.500,00</span>
          </div>
          <button class="save-button">Usporiť peniaze</button>
        </div>
      </div>
    </div>
    <div class="credit my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header">
            <div class="plan-title">DEMO Sporenie na rezervu</div>
            <div class="plan-amount">€ 480.32</div>
          </div>
          <div class="progress-bar">
            <div class="progress" style="width: 32%;"></div>
          </div>
          <div class="progress-info">
            <span class="progress-percentage">32%</span>
            <span class="target-amount">Cieľová suma: € 1.500,00</span>
          </div>
          <button class="save-button">Usporiť peniaze</button>
        </div>
      </div>
    </div>
  </div>
</div>
