.home-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}


.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 30px 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .upper-wrapper,
  .bottom-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45%;
  }


  .my-card {
    width: 20%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 10px;

    .border-top {
      width: 100%;
      height: 5px;
      background-color: #0065ad;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }
  }


  .personal-account {
    .save-button {
      background-color: #0069a9;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      display: block;
      width: 70%;
      margin-left: 15%;
      border-radius: 5px;
    }

    .better-future-border {
      width: 100%;
      height: 5px;
      background-color: green;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }

    .boxu {
      margin-top: 20px;
      display: flex;
    }

    i {
      margin: 15px;
      margin-top: 25px;
    }

    .text {
      width: 60%;
      margin: 10px;

      h4 {
        color: gray;
        font-weight: normal;
      }

      .suma {
        color: green;
        font-weight: normal;
      }
    }


    .box {
      width: 100%;

    }

    .boxd {
      margin-top: 20px;
      display: flex;
      background-image: url('../../../assets/ss.png');
      background-size: contain; /* Tímto se obrázek pokusí pokrýt celou oblast bez ztráty poměru stran */
      background-position: center; /* Centruje obrázek na pozadí */
      background-repeat: no-repeat;
      height: 150px;
    }


  }

  .review {
    width: 30%
  }

  .better-future {
    padding: 1%;
    position: relative;
    width: 40%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in;
    overflow: hidden;
    text-align: left;
    z-index: 10;

    h2 {
      z-index: 2;
      text-align: left;
    }

    &:hover {
      transform: scale(1.02)
    }


    .bcc-image {
      width: 100%;
      height: 100%;
      background-image: url('../../../assets/graph.png');
      background-size: cover;
      transition: all 0.5s ease-in;

      &:hover {
        transform: scale(1.05)
      }
    }

    .better-future-border {
      width: 100%;
      height: 5px;
      background-color: green;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }
  }

  .card_card {

    .h3 {
      font-weight: bold;
    }

    .h2 {
      font-weight: initial;
      font-size: 16px;
    }

    .better-future-border {
      width: 100%;
      height: 5px;
      background-color: green;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }

    h2 {
      margin: 20px;
    }

    .transaction-item {
      border-left: 2px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;
      background: #f8f8f8;
    }

    .transaction-date {
      font-weight: bold;
      background: #f8f8f8;

    }

    .transaction-details {
      flex-grow: 1;
      padding-left: 10px;
      background: #f8f8f8;
    }

    .transaction-amount_good {
      background: #f8f8f8;
      font-weight: bold;
      color: green; /* Červená pro výdaje, zelená pro příjmy */
    }

    .transaction-amount_bad {
      background: #f8f8f8;
      font-weight: bold;
      color: red; /* Červená pro výdaje, zelená pro příjmy */
    }

    .nadpis {
      display: flex;
    }

    h4 {
      color: gray;
      font-weight: normal;
      margin: 25px;
      margin-left: 60%;
      margin-right: 0;
      cursor: pointer;
    }


    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .savings,
  .hypo,
  .credit,
  .stocks {

    .savings-plan {
      padding: 20px;
    }

    .plan-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .plan-title {
      font-weight: bold;
      color: #333;
    }

    .plan-amount {
      font-weight: bold;
      color: #28a745;
    }

    .progress-bar {
      background-color: #e9ecef;
      border-radius: 5px;
      height: 20px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 50px;
    }

    .progress {
      background-color: #abcce5;
      height: 100%;
      border-radius: 5px;
      transition: width 0.4s ease;
    }

    .progress-info1 {

      text-align: right;


    }


    .progress-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .progress-percentage {
      color: #28a745;
      font-weight: bold;
    }

    .target-amount {
      color: #6c757d;
    }

    .save-button {
      background-color: #0065ad;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      display: block;
      width: 100%;
      border-radius: 5px;
      margin-top: 100px;
    }

    .save-button:hover {
      background-color: #218838;
    }


    .kkk {
      display: inline-block;


      .kk2 {
        margin-top: 7px;
      }


    }

    .kkkk {
      display: inline-block;

      .t1 {
        font-weight: normal;
        margin-top: 10px;
      }

      .t2 {


      }
    }



  }


}

