<div class="home-container">
  <div class="upper-wrapper">

    <div class="personal-account my-card better-future-borderr">
      <div class="better-future-border"></div>

      <div class="box boxu">
        <i class="pi pi-euro" style="color: gray; font-size: 2rem"></i>
        <div class="text">

          <h4>OSOBNÝ ÚČET</h4>
          <h3>DEMO Osobný účet</h3>
          <h3 class="suma">€ 1681.58 </h3>
        </div>
      </div>

      <div class="box boxd">


      </div>

      <button class="save-button">Usporiť peniaze</button>


    </div>

    <div class="card_card review my-card">
      <div class="better-future-border"></div>
      <div class="nadpis">
        <h2>Prehlad</h2>

        <h4>Viac</h4>
      </div>


      <div class="transaction-item">
        <div class="transaction-date" style="margin-right: 10px">10 NOV</div>
        <div class="transaction-details">
          <h3 class="h3">
            Platobná karta</h3>
          <h3 class="h2">Nočný klub Prešov</h3>
        </div>
        <div class="transaction-amount_bad">€ -19,11</div>
      </div>

      <div class="transaction-item">
        <div class="transaction-date" style="margin-right: 10px">10 NOV</div>
        <div class="transaction-details">
          <h3 class="h3">
            Platobná karta</h3>
          <h3 class="h2">OMV Košice</h3>
        </div>
        <div class="transaction-amount_bad">€ -30,30</div>
      </div>

      <div class="transaction-item">
        <div class="transaction-date" style="margin-right: 10px">11 NOV</div>
        <div class="transaction-details">
          <h3 class="h3">
            Trvalý príkaz</h3>
          <h3 class="h2">Netflix</h3>
        </div>
        <div class="transaction-amount_bad">€ -13,50</div>
      </div>

      <div class="transaction-item">
        <div class="transaction-date" style="margin-right: 10px">08 NOV</div>
        <div class="transaction-details">
          <h3 class="h3">
            Platobná karta</h3>
          <h3 class="h2">Lidl Košice</h3>
        </div>
        <div class="transaction-amount_bad">€ -51,40</div>
      </div>


    </div>


    <div class="better-future my-card" [routerLink]="'better-future'">
      <div class="better-future-border"></div>
      <h2>Lepšia budúcnosť</h2>
      <div class="bcc-image">
      </div>
    </div>
  </div>
  <div class="bottom-wrapper">
    <div class="savings my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header">
            <div class="plan-title">DEMO Fond maximalizovaných výnosov</div>

          </div>


          <div class="progress-info1">

            <h2 class="plan-amount">€ 480.32</h2>
            <h4 class="progress-percentage">+7.4%</h4>

          </div>
          <button class="save-button" style="margin-top: 75%;">Mimoriadny vklad</button>
        </div>
      </div>
    </div>
    <div class="hypo my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header kkk" >
            <div class="plan-title">DEMO Sporenie na rezervu</div>
            <div class="plan-amount kk2">€ 480.32</div>
          </div>
          <div class="progress-bar">
            <div class="progress" style="width: 32%;"></div>
          </div>
          <div class="progress-info">
            <span class="progress-percentage">32%</span>
            <span class="target-amount">Cieľová suma: € 1.500,00</span>
          </div>
          <button class="save-button" style="background-color: #e40005; margin-top: 51%">Usporiť peniaze</button>
        </div>

      </div>
    </div>
    <div class="stocks my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header kkk">
            <div class="plan-title">DEMO Spotrebný úver</div>
            <div class="plan-amount kk2">€ 10 376.75</div>
          </div>


          <div class="progress-info kkkk">
            <h4 class="t1">Výška splátky:</h4>
            <h4 class="t2">€ 162:80  / mesačne</h4>
            <h4 class="t1">Výška úveru:</h4>
            <h4 class="t2">€ 12 000.00  / mesačne</h4>
          </div>
          <button class="save-button">Historia</button>
        </div>

      </div>
    </div>
    <div class="credit my-card">
      <div class="border-top"></div>
      <div class="container">
        <div class="savings-plan">
          <div class="plan-header kkk">
            <div class="plan-title">DEMO Úver na bývanie</div>
            <div class="plan-amount kk2">€ 10 376.75</div>
          </div>


          <div class="progress-info kkkk">
            <h4 class="t1">Výška splátky:</h4>
            <h4 class="t2">€ 200:80  / mesačne</h4>
            <h4 class="t1">Výška úveru:</h4>
            <h4 class="t2">€ 30 000.00  / mesačne</h4>
          </div>
          <button class="save-button">Historia</button>
        </div>
      </div>
    </div>
  </div>
</div>
