<div class="navbar">
  <ul class="menu">
    <li><a [routerLink]="''">Domov</a></li>
    <li><a >Účty</a></li>
    <li><a >Karty</a></li>
    <li><a >Sporenie</a></li>
    <li><a>Úvery</a></li>
    <li><a [routerLink]="'/better-future'" >Lepšia budúcnosť</a></li>
  </ul>
  <div class="search-and-icons">
    <div class="icon">
      <i class="pi pi-search" style="font-size: 1.5rem"></i>
    </div>
    <div class="icon">
      <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
    </div>
    <div class="icon">
      <i class="pi pi-cog" style="font-size: 1.5rem"></i>
    </div>
    <!-- Add more icons as needed -->
  </div>
</div>
